@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Pangolin&display=swap');

/* ---------------------------General--------------------------- */

body {
    font-family: "Pangolin", sans-serif;
    font-size: 15px;
    background-color: #165933;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #b1efc7;
}

a:hover {
    color: #409d61;
}

@media screen and (min-width: 769px) {
    body {
        font-size: 20px;
    }
  }

/* ---------------------------Header--------------------------- */

header {
    margin: 0;
    padding-top: 30px;
    letter-spacing: 0px;
}

.title-col {
    font-family: "Cabin Sketch", sans-serif;
    font-size: 40px;
    text-align: center;
}

.nav-col {
    text-align: right;
    padding-right: 30px;
}

@media screen and (min-width: 769px) {
    .title-col {
        font-size: 55px;
        padding: 40px 20px 0;
    }
    .nav-col {
        padding-top: 70px;
        padding-right: 50px;
    }
    .nav-dropdown {
        display: none;
      }
  }

  @media screen and (max-width: 769px) {
    .nav-item {
        display: none;
      }
  }

@media screen and (min-width: 1200px) {
    .title-col {
        font-size: 70px;
        padding: 40px 20px 0;
    }
  }

/* ---------------------------Footer--------------------------- */

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0;
    text-align: center;
    background-color: #b1efc7;
}

footer a {
    color: #165933;
    font-size: 25px;
}

/* ---------------------------index.html--------------------------- */
